
.spacer {
  flex: 1 1 auto;
}

.page-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(50,50,50,0.2);
  top: 0;
  left: 0;
  z-index: 100;
}
