<section class="login-page no-scroll-page">
  <mat-card class="login-card">
    <mat-card-content>
      <div class="card-header">
        <mat-icon color="primary" svgIcon="lock_open" inline="true"></mat-icon>
      </div>

      <form class="login-page__form"  [formGroup]="loginForm">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="loginForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input formControlName="password" type="password" matInput>
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button class="full-width" mat-flat-button color="primary" (click)="submit()">Sign In</button>
      </form>
      
      <div class="login-card__divider">
        <span>OR</span>
      </div>
      
      <button class="google-button" (click)="onGoogleButtonClick()">
        <img src="./assets/img/icon-google.svg">
        <span>Continue with Google</span>
      </button>

    </mat-card-content>
  </mat-card>
</section>