
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page__form {
  width: 100%;
}

mat-form-field {
  margin-bottom: 0.5rem;
}

.full-width {
  width: 100%;
}


.no-scroll-page {
  margin: 0;
  width: 100%;
  height: calc(100% - 64px);
}

.login-card {
  max-width: 300px;
}

.login-card__divider {
  margin: 0.5rem 0;
  position: relative;
  display: flex;
  justify-content: center;

  span {
    padding: 0.5rem;
    background: #fff;
    z-index: 1;
  }

  &:after {
    content: '';
    background: #999;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    position: absolute;
  }
}

.login-card__text {
  margin: 1rem 0;
  text-align: center;
}

.card-header {  
  height: 4rem;
  text-align: center;
}

.google-button {
  cursor: pointer;
  width: 100%;
  color: #666;
  background: #fff;
  min-width: inherit;
  text-transform: none;
  border: 1px solid #c6d2d9;
  display: flex;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 4px;

  &:hover {
    border-color: #c6d2d9;
    color: #666;
    background: #e4eaee;
    box-shadow: none;
  }

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
    color: #212529;
    background-color: #e4eaee;
  }

  img {
    height: 1.5rem;
  }

  span {
    display: block;
    text-align: center;
    width: 100%;
  }
}